.bi-envelope-arrow-down-fill{
    color: lightskyblue;
}

.bi-map-fill{
    color: lightgreen;
}

.bi-file-earmark-fill{
    color: rgb(245, 142, 158);
}

.bi-house-heart-fill{
    color: rgb(255, 169, 255);
}

